.header {
	height: 130px;
	background-color: #3c3c3c;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.36));
	padding: 0 2em;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.signOut {
	fill: white;
	--log-out-icon: white;
}

.logo {
	font-family: 'Julee', sans-serif;
	font-size: 3rem;
	transition: all 0.2s ease-in-out;
}

.logo:hover,
.logo:focus {
	transform: scale(1.05);
}
