.header {
	height: 110px;
	background-color: #3c3c3c;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.36));
	padding: 0 2em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	transition: all 0.3s ease-in-out;
}

.signOut {
	fill: white;
	--log-out-icon: white;
}

.logo {
	font-family: 'Julee', sans-serif;
	width: clamp(50px, 200px, 300px);
	transition: all 0.2s ease-in-out;
}

.logo:hover,
.logo:focus {
	transform: scale(1.05);
}

@media screen and (max-width: 700px) {
	.header {
		height: 80px;
		padding: 0 0 0 1em;
	}
	.logo {
		font-size: 3rem;
	}
}
