@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

.headerUpper {
	width: 100vw;
	height: 180px;
	background: rgb(94, 31, 31);
	background-image: linear-gradient(
		180deg,
		rgba(94, 31, 31, 1) 30%,
		rgba(38, 1, 0, 1) 70%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

.shopTitle {
	margin: 0;
	font-family: 'Irish Grover', cursive;
	font-size: 4.5rem;
	text-align: center;
	color: #f6bf4f;
	text-transform: uppercase;
	text-shadow: 0 0 0.2em #2d1f04bc;
}

.headerLower {
	background-color: #889b4f;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 15em;
	height: 170px;
}

.subtitle {
	font-family: 'Julee', cursive;
	color: #475916;
	text-shadow: 1px 1px black;
	text-align: center;
}

.subtitleArt {
	font-size: 4.5rem;
	text-transform: uppercase;
}

.subtitleCenter {
	font-size: 2.8rem;
}

.iconsBar {
	height: 50px;
	background-image: url('/images/pattern.svg');
	background-size: 450%;
	background-position: 0 80%;
	position: relative;
}

.iconsBar::after {
	content: '';
	background-color: rgba(7, 12, 17, 0.217);
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
}
