.lineItemContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10%;
	padding: 0.5em;
	/* border: 1px red solid; */

	position: relative;
}

.title {
	font-size: 0.8rem;
	width: 70%;
	cursor: pointer;
}

.imageContaienr {
	width: 70px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
