.heroSection {
	margin-top: 6em;
	display: flex;
	gap: 6em;

	justify-content: space-between;
	height: 600px;
	padding: 0 10em;
}

.heroSection > div {
	width: 50%;
}

.leftHeroSection {
	padding: 0 0;
	display: flex;
	flex-direction: column;
}

.heroImage {
	border: 1px solid red;
	border-radius: 10px;
}

.heroTitle {
	margin-top: 1.7em;
	color: white;

	font-size: 3.5rem;
	text-align: center;
}

.heroDescription {
	margin-top: 1em;
	font-size: 1.5rem;
	text-align: center;
}

/* .heroButton {
	font-size: 2rem;
	padding: 0.3em 1.2em;
	border-radius: 0.5rem;
	border: none;
	background-image: linear-gradient(to bottom, var(--primary-color), #5a7a0fa4);
	color: rgba(252, 252, 252, 0.863);
	text-shadow: 0 0 1px black;
	cursor: pointer;
	display: inline-block;
} */

.heroButton:hover {
	color: inherit;
	background-color: #000000;
}

.heroButton {
	background-image: linear-gradient(
		180deg,
		rgb(143, 182, 5),
		rgba(15, 134, 4, 0.719)
	);
	font-size: 2rem;
	color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	padding: 0.3em 1.3em;
	border-radius: 5px;
	display: inline-block;
	margin: 1.5em auto 0;
	transition: all 200ms ease-in-out;
}
