.authStatusContainer,
.userInfo {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 768px) {
	.userInfo {
		display: none;
	}
}

.authStatusContainer > a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.userInfo {
	flex-direction: column;
	margin-right: 1em;
}

.userImage {
	width: min(70%, 50px);
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
