.subHeroSection {
	margin-top: 6em;
	height: 600px;
	padding: 0 10em;
	position: relative;
	background-color: rgba(255, 255, 255, 0.06);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subHeroSection > div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.subHeroTitle {
	font-size: 3em;
	font-weight: 700;
	color: white;
}
