.productItem {
	flex: 1;
	min-width: 300px;
	max-width: 400px;
	min-height: 350px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	cursor: pointer;
	border: 1px solid rgba(82, 82, 82, 0.54);
	margin-bottom: 10%;
	position: relative;
}

.productImage {
	max-width: 250px;
	/* width: 200px;
	height: 250px; */
	background: rgb(255, 255, 255);
	border-radius: 10px;
	overflow: hidden;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1em;
	position: relative;
}

.productTitle {
	width: 100%;
	text-align: center;
	padding-top: 1em;
	margin-top: 1em;
	border-top: rgba(211, 211, 211, 0.658) 1px solid;
	color: white;
	width: 300px;
}
