.productItem {
	width: 300px;
	height: 350px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	cursor: pointer;
}

.productImage {
	min-width: 100%;
	padding-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 2px solid #27272780;
}

.productTitle {
	color: black;
}
