.subheaderContainer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5em;
	margin: 0 0;
	background-color: var(--primary-color);
}

.subheaderContainer > div {
	display: flex;
	position: relative;
}

.smallContainer {
	display: flex;
}

.searchButton {
	border: none;
	width: 60px;
	height: 32px;
	background-color: #252525db;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.inputBox {
	height: 30px;
	width: 300px;
	border: none;

	color: gray;
	padding: 1em 1.5em;
	font-size: 1rem;
	outline: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.searchwrapper {
	position: relative;
}

.dropdown {
	position: absolute;
	color: white;
	background-color: rgba(46, 46, 46, 0.904);
	top: 100%;
	width: 100%;
	z-index: 1;
}

.dropdown a {
	padding: 0.5em 1em 0;
	display: block;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cartContainer {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
