@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

root {
	--bg-color-dark: #272727;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Iris Grover' sans-serif;

	background-color: #272727;
	color: rgba(255, 255, 255, 0.806);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
