@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html,
body {
	--bg-color-dark: #252525;
	--primary-color: #a8c85e;

	min-height: 100vh;
	position: relative;

	padding: 0;
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;

	background-color: var(--bg-color-dark);
	color: rgba(255, 255, 255, 0.806);
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: var(--primary-color);
}

* {
	box-sizing: border-box;
	/* outline: 1px solid red !important; */
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

::-webkit-scrollbar {
	width: 0.7em;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(138, 137, 137, 0.5);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(138, 137, 137, 0.8);
}

.signOutIcon {
	fill: white;
}
