/* position relative so the children can have position */
.dropdown {
	position: relative;
}

/* styles for the button */
.dropdownButton {
	background-image: linear-gradient(
		180deg,
		rgb(143, 182, 5),
		rgba(15, 134, 4, 0.719)
	);
	font-size: clamp(0.8rem, 1.5vw, 1.2rem);
	color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	padding: 0.3em 1.1em;
	border-radius: 5px;
}

/* customize the dropdown menu, display none and position absolute */
/* so it can be positioned relative to the dropdown button */
/* and hidden by default */
.dropdownContent {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #252525;

	width: 100%;
	min-width: fit-content;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* styles for the anchors default */
.dropdownContent a {
	color: white;
	font-size: 0.8rem;
	padding: 5% 10%;
	text-decoration: none;
	display: block;
}

/* background change for hover on anchors */
.dropdownContent a:hover {
	background-color: #1c1b1b;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.dropdown:hover .dropdownButton {
	background-color: lightgreen;
}
